apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - groups:
      - system:bootstrappers
      - system:nodes
      rolearn: arn:aws:iam::443071119316:role/cloudshelf-eks-node-group-role
      username: system:node:{{EC2PrivateDNSName}}
    - groups:
      - system:masters
      rolearn: arn:aws:iam::443071119316:role/cloudshelf-jump-server-role
      username: jump-server-admin
  mapUsers: |
    - userarn: arn:aws:iam::443071119316:user/gh-actions-cloudshelf
      username: gh-actions-cloudshelf
      groups:
        - system:masters