apiVersion: v1
kind: Service
metadata:
  name: zipkin
  namespace: cloudshelf
spec:
  type: ClusterIP
  ports:
  - port: 9411
    targetPort: 9411
  selector:
    app: zipkin
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zipkin
  namespace: cloudshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zipkin
  template:
    metadata:
      labels:
        app: zipkin
    spec:
      containers:
      - name: zipkin
        image: 443071119316.dkr.ecr.us-east-1.amazonaws.com/cloudshelf/zipkin:latest
        ports:
        - containerPort: 9411
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "250m"
