apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: cloudshelf
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.cloudshelf.svc.cluster.local:9090/prometheus
        isDefault: true
        editable: false
        jsonData:
          timeInterval: "15s"
      - name: Zipkin
        type: zipkin
        access: proxy
        url: http://zipkin.cloudshelf.svc.cluster.local:9411
        editable: false