apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-exporter
  namespace: cloudshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-exporter
  template:
    metadata:
      labels:
        app: kafka-exporter
    spec:
      containers:
        - name: kafka-exporter
          image: 443071119316.dkr.ecr.us-east-1.amazonaws.com/cloudshelf/kafka-exporter:v1.7.0
          args:
            - "--kafka.server=kafka.cloudshelf.svc.cluster.local:9092"
          ports:
            - containerPort: 9308
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-exporter
  namespace: cloudshelf
spec:
  ports:
    - port: 9308
      targetPort: 9308
  selector:
    app: kafka-exporter